body{
	height:100vh;
	font-size:1rem;
}

.welcome-page{
	background: url('../img/hiking-1031628_1920.jpg');
	background-size: cover;
    background-repeat: no-repeat;
}

.header{
	border:1px solid red;
	height:100px;
	width:100px;
}