body{
	height:100vh;
	font-size:14px;
}

.welcome-page{
	background: url('../img/hiking-1031628_1920.jpg');
	background-size: cover;
    background-repeat: no-repeat;
}

.header{
	border:50px solid red;
	height:100px;
	width:100px;
}

/* .nav-bar{ */
/* 	background:red; */
/* 	color:white; */
/* 	display:inline-block; */
/* 	width:10%; */
/* 	padding:10px; */
/* } */

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}